@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.navbar-nav {
  width: 100%;
  display: flex;
  align-items: baseline;
  align-items: safe;
  justify-content: flex-end;
}

.navbar-nav li {
  white-space: nowrap;
}

.jumbotron {
  background-color: rgba(249, 221, 218, 0.7);
}

nav.navbar.navbar-expand-sm {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(212, 230, 234, 0.25);
  -moz-box-shadow: 0px 0px 5px 3px rgba(212, 230, 234, 0.25);
  box-shadow: 0px 0px 5px 3px rgba(212, 230, 234, 0.25);
}

nav.navbar.navbar-expand-sm .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem !important;
  height: 46px;
  margin-left: 1rem;
  border-bottom: 2px solid #526384;
  margin-bottom: .5rem;
  color: #526384 !important;
}

nav.navbar.navbar-expand-sm .navbar-brand:hover {
  border-bottom: 2px solid #f68f5b;
  transition: 0.4s;
}

nav.navbar.navbar-expand-sm .navbar-toggler {
  border-color: #f68f5b;
}

nav.navbar.navbar-expand-sm .navbar-toggler .navbar-toggler-icon {
  color: #f68f5b;
  font-size: 1rem;
  line-height: 1.5rem;
  width: inherit;
  height: inherit;
}

nav.navbar.navbar-expand-sm .dropdown-menu .dropdown-divider {
  border-top: 2px solid #526384;
}

nav.navbar.navbar-expand-sm .dropdown-menu .btn {
  width: 100%;
}

nav.navbar.navbar-expand-sm a, nav.navbar.navbar-expand-sm li {
  color: #526384;
}

nav.navbar.navbar-expand-sm a:hover, nav.navbar.navbar-expand-sm li:hover {
  color: #f68f5b !important;
  transition: .4s;
}

.user-icon {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  background-color: #526384;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: .5rem;
  color: white;
}

body > .container-fluid {
  margin-top: 0 !important;
}

body > .container-fluid,
footer > .container-fluid {
  color: #21292c;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body > .container-fluid .row,
footer > .container-fluid .row {
  padding-left: 2rem;
  padding-right: 2rem;
}

body > .container-fluid .header.row,
footer > .container-fluid .header.row {
  padding: .25rem 2rem .25rem 2rem;
  margin-bottom: 1rem;
  color: #21292c;
}

body > .container-fluid .subheader,
footer > .container-fluid .subheader {
  margin-bottom: .5rem;
  color: #eeedf0;
}

body > .container-fluid .subheader a, body > .container-fluid .subheader p,
footer > .container-fluid .subheader a,
footer > .container-fluid .subheader p {
  color: #eeedf0;
}

body > .container-fluid .inner-container,
footer > .container-fluid .inner-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.footer {
  color: #21292c;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgba(212, 230, 234, 0.71);
}

.reply-tag {
  display: block;
  color: #657786;
}

.product-container.card-grid {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  align-items: baseline;
}

.product-container.card-grid .product-item {
  margin-right: 0;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.product-container.card-grid .product-item .card {
  border: none;
  border-radius: .125rem;
  background-color: transparent;
  width: 13rem;
}

.product-container.card-grid .product-item .card .card-title {
  font-size: 1rem;
}

.card .card-block {
  padding: 1rem 0;
}

.board {
  position: relative;
  margin-left: 1%;
}

.board-column {
  position: static;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}

.board-column.muuri-item-releasing {
  z-index: 2;
}

.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}

.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}

@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

.board-column.todo .board-column-header {
  background: #4A9FF9;
}

.board-column.working .board-column-header {
  background: #f9944a;
}

.board-column.done .board-column-header {
  background: #2ac06d;
}

.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}

.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}

.board-item.muuri-item-releasing {
  z-index: 9998;
}

.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}

.board-item.muuri-item-hidden {
  z-index: 0;
}

.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}

.image {
  text-align: center;
}

.image img {
  width: 100%;
  padding: 1rem;
}

.product {
  display: inline-block;
  margin-bottom: 2rem;
}

.product .product-header {
  background-color: #f9ddda;
  padding: .5rem 1rem;
}

.product .description {
  background: #f3f3f3;
  padding: 1.5rem;
}

.product .image {
  text-align: center;
  width: 100%;
}

.product .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.product .product-form {
  display: flex;
  align-items: baseline;
}

.product .product-form .form-group {
  border: solid #526384 1px;
}

.product .product-form .form-group.qty-group {
  justify-content: space-between;
}

.product .product-form .form-inline {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}

.product .hr-bottom {
  border-bottom: solid #526384 2px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.product .product-button-remove {
  color: white;
  border-radius: 0;
  background-color: #526384;
  border-color: #526384;
  margin-bottom: 0 !important;
}

.product #quantity {
  width: 3rem;
}

.product .product-heading.row {
  padding: 0;
  padding-left: 1rem;
  display: inline-block;
}

.spacer {
  margin-bottom: 1.5rem;
}

.lead-inline {
  margin-bottom: 0;
  margin-right: 1rem;
  padding: .2rem 0;
}

.jumbotron.jumbotron-psa {
  padding: 2rem 2rem;
  border-radius: 2px;
}

.row.row-block {
  display: block;
}

.input-group.input-block {
  width: 100%;
}

.form-search-bar {
  width: 45%;
  margin-right: 1rem;
}

.form-search-bar .input-group {
  width: 100%;
}

.form-search-bar .form-control {
  font-size: .9rem;
}

td.details-control {
  background: url("../resources/plus.png") no-repeat center center;
  cursor: pointer;
  background-position: 50% 50%;
  background-size: 36px 36px;
  padding: 1.25rem !important;
}

tr.shown td.details-control {
  background: url("../resources/minus.png") no-repeat center center;
  background-position: 50% 50%;
  background-size: 36px 36px;
  padding: 1.25rem;
}

fieldset, label {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 60px;
  font-family: 'Poppins', 'Roboto', Helvetica, sans-serif;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.rating > input:hover ~ input:checked + i {
  opacity: 0;
}

.editable.editable-click {
  display: block;
  height: 100%;
  width: 100%;
}

table {
  font-size: .9rem;
}

table.dataTable tbody th, table.dataTable tbody td {
  vertical-align: inherit;
}

.login, .register, .nav-link {
  color: #526384;
  font-size: .85rem;
  text-transform: uppercase;
  border: none;
}

a.dropdown-item {
  font-size: .75rem;
  text-transform: uppercase;
}

p.lead.lead-inline {
  font-size: 1.25rem;
}

.product-heading.w-100.row {
  display: flex;
}

.product-button-update {
  color: white;
  border-radius: 0;
  margin-right: 1rem;
  background-color: #01b8fb;
  border-color: #01b8fb;
  margin-bottom: 0 !important;
}

.container.h-100 {
  padding: 0 0;
}

@media (min-width: 992px) {
  .container.h-100 {
    padding: 0 0;
    max-width: 1024px;
  }
}

.btn.btn-outline-success {
  border-radius: 0;
}

.btn.btn-outline-success:hover,
.btn.btn-outline-success:active
.btn,
a.nav-link {
  color: #f68f5b;
  background: none;
  border: none;
  transition: 0.4s;
}

a {
  color: #526384;
}

a:hover {
  color: #f68f5b;
  transition: 0.4s;
  text-decoration: none;
}

.recommend {
  border-radius: 2rem;
  padding: .25rem .8rem;
  background-color: #01b8fb;
  color: white;
}

.card-body p.card-text {
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 750px;
    margin: 1.75rem auto;
  }
}

.modal-card {
  width: 12rem !important;
}

.mini-wrapper {
  line-height: 2.5rem;
}

.mini-wrapper .tag {
  margin-right: .5rem;
}

.mini {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.category-widget {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.new-prod {
  display: flex;
  align-items: baseline;
}

.new-prod .product-button-update {
  font-size: 0.9rem;
  background-color: transparent;
  color: #01b8fb;
}

.new-prod .product-button-update:hover {
  color: #526384;
  transition: 0.4s;
}
