$GRAPHITE: rgb(33, 41, 44);
$GRAPHITE: rgb(33, 41, 44);
$LAVENWHITE: #eeedf0;
$GOLD: #deb109;
$MARIGOLD: #fec52e;
$BEIGE: #e9ddce;
$BLUE: #00aced;
$BLUE-VERIFIED: #1dcaff;
$BLUE-DARK: #0084b4;
$BLUE-BABY: #c0deed;
$GREY: #657786;

$PASTEL-BLUE: #f0f9fe;
$GLAM-PINK: #eb0d8c;
$DUST-ROSE: #edbeb8;
$MINT-GREEN: #b6efda;
$STEEL: #5a5a5a;

.navbar-nav {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.jumbotron {
  background-color: #d4e6ea;
}

nav.navbar.navbar-expand-sm {
  // background-image: linear-gradient(#101415, #21292c);

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem !important;
    height: 46px;
    margin-left: 1rem;
    border-bottom: 2px solid $BLUE;
    margin-bottom: .5rem;
  }

  .navbar-toggler {
    border-color: $BLUE;

    .navbar-toggler-icon {
      color: $BLUE;
      font-size: 1rem;
      line-height: 1.5rem;
      width: inherit;
      height: inherit;
    }
  }

  .dropdown-menu {

    .dropdown-divider {
      border-top: 2px solid $BLUE
    }

    .btn {
      width: 100%;
    }
  }

  a, li {
    color: $BLUE !important;
  }
}

.user-icon {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  background-color: $BLUE;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: .5rem;
  color: white;
}

body > .container-fluid {
  margin-top: 0 !important;
}

body > .container-fluid {
  color: $GRAPHITE;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .row {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header.row {
    padding: .25rem 2rem .25rem 2rem;
    margin-bottom: 1rem;
    background-color: $BLUE-BABY;
    color: $GRAPHITE;
  }

  .subheader {
    margin-bottom: .5rem;
    color: $LAVENWHITE;

    a, p {
      color: $LAVENWHITE;
    }
  }

  .inner-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.footer {
  color: $GRAPHITE;
  position: relative;
  bottom: 0;
  width: 100%;
  // height: 60px;
  line-height: 60px;
  // background-color: #f5f5f5;
  background-color: $BLUE-BABY;
}

.reply-tag {
  display: block;
  color: $GREY;
}

.product-container.card-grid {
    list-style: none;
    display:  flex;
    justify-content: space-between;
    flex-wrap:  wrap;
    padding: 0 2rem 0 2rem;

  .product-item {
    margin-right: 0;
    margin-bottom: 1.5rem;
    display: inline-block;

    .card {
      border: none;
      border-radius: .125rem;
      background-color: transparent;
      width: 13rem !important ;
    }
  }
}

// MUURI
.board {
  position: relative;
  margin-left: 1%;
}
.board-column {
  position: static;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}
.board-column.todo .board-column-header {
  background: #4A9FF9;
}
.board-column.working .board-column-header {
  background: #f9944a;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}
.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}

.product {
  display: inline-block;
  margin-bottom: 2rem;

  .product-heading.row {
    padding: 0;
    padding-left: 1rem;
    display: inline-block;
  }
}

.product-img {
  max-width: 45%;
  padding: 0 2rem 0 1rem;
}
