{% extends "base.html" %}
{% block title %} IMDB {% endblock %}

{% block body %}
  {% block content %}
    <div>
      <h2>Add Movie</h2>

      <form action="/saveMovie" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter movie title">
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" name="year" class="form-control" id="year" placeholder="Movie release year">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" class="form-control" id="description" rows="3">Movie description</textarea>
        </div>
        <div class="form-group">
          <label for="cast">Cast</label>
          <textarea name="cast" class="form-control" id="cast" rows="3">Cast</textarea>
          <small id="emailHelp" class="form-text text-muted">Please enter one cast member per line.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  {% endblock %}
{% endblock %}
