{% extends "base.html" %}
{% block title %} IMDB {% endblock %}

{% block body %}
  {% block content %}
    <div>
      <h1 class="page-header">Add Movie</h1>

      <form action="/addMovie" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter movie title">
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" name="year" class="form-control" id="year" placeholder="Movie release year">
        </div>
        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" class="form-control" id="genre" placeholder="Movie genre">
          <small id="emailHelp" class="form-text text-muted">For multiple genres, enter each with a space between genres. Eg: "comedy drama romance"</small>
        </div>
        <div class="form-group">
          <label for="runtime">Runtime</label>
          <input type="text" name="runtime" class="form-control" id="runtime" placeholder="Runtime (in minutes)">
        </div>
        <div class="form-group">
          <label for="posterURL">Poster URL</label>
          <input type="text" name="posterURL" class="form-control" id="posterURL" placeholder="Poster URL">
        </div>
        <div class="form-group">
          <label for="releaseDate">Release Date</label>
          <input type="text" name="releaseDate" class="form-control" id="releaseDate" placeholder="YYYY-MM-DD HH:MM:SS">
        </div>
        <div class="form-group">
          <label for="countryOfOrigin">Country of Origin</label>
          <input type="text" name="countryOfOrigin" class="form-control" id="countryOfOrigin" placeholder="Country of Origin">
        </div>
        <div class="form-group">
          <label for="language">Primary Language</label>
          <input type="text" name="language" class="form-control" id="language" placeholder="English">
        </div>
        <div class="form-group">
          <label for="budget">Budget</label>
          <input type="text" name="budget" class="form-control" id="budget" placeholder="120000">
        </div>
        <div class="form-group">
          <label for="boxOfficeOpeningWeekend">Box Office Opening Weekend</label>
          <input type="text" name="boxOfficeOpeningWeekend" class="form-control" id="boxOfficeOpeningWeekend" placeholder="120000">
        </div>
        <div class="form-group">
          <label for="boxOfficeGross">Box Office Gross</label>
          <input type="text" name="boxOfficeGross" class="form-control" id="boxOfficeGross" placeholder="120000">
        </div>
        <div class="form-group">
          <label for="overview">Synopsis</label>
          <textarea name="overview" class="form-control" id="overview" rows="3" placeholder="Movie overview"></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isPlay">
          <label class="form-check-label" for="isPlay">Is it a play adaptation?</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isNovel">
          <label class="form-check-label" for="isNovel">Is it a novel adaptation?</label>
        </div>
        <div class="form-group">
          <label for="cast">Cast</label>
          <textarea name="cast" class="form-control" id="cast" rows="3" placeholder="Cast members"></textarea>
          <small id="emailHelp" class="form-text text-muted">Please enter one cast member,role pair per line. Eg: "Keira Knightley,Joan Clark"</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  {% endblock %}
{% endblock %}
