{% extends "base.html" %}
{% block title %} IMDB {% endblock %}
{% block body %}
  {% block content %}
  <div class="header row">
    <h2>All Films</h2>
  </div>
  <div class="row card-grid">
    {% for m in movies %}
    <div class="card">
      <div class="card-movie-poster">
        <a href="/movie/{{ m.id }}"><img class="card-img-top" src={{ m.posterURL }} alt="Card image cap"></a>
      </div>
      <div class="card-header">
        <a href="/movie/{{ m.id }}"><h5 class="card-title">{{ m.title }}</h5></a>
        <p class="card-subtitle mb-0 text-muted">{{ m.year }}</p>
        {% if current_user.is_authenticated %}
        <div class="card-body watched">
          <!-- Watched movie form -->
          <form action="/watched" method="POST">
            <div class="form-group" hidden>
              <label for="id">ID</label>
              <input type="text" name="id" class="form-control-plaintext" id="id" aria-describedby="idHelp" value="{{ m.id }}" readonly>
            </div>
            <button type="submit" class="btn watched-btn"><i class="fas fa-check-square"></i><span>Mark Watched</span></button>
          </form>
          <!-- Watched movie form END -->
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
{% endblock %}
