{% extends "base.html" %}
{% block title %} IMDB {% endblock %}

{% block body %}
  {% block content %}
    <div class="movie">
      <h6 class="mb-2 text-muted">{{ movie_data.year }} | <span class="upper">{% for g in genre %}{{g.category}} {% endfor %}</span></h6>
      <h2>{{ movie_data.title }}</h2>
      <p>RUNTIME: {{ movie_data.runtime }} MINUTES</p>
      <p>{{ movie_data.overview }}</p>


      <h4>Cast</h4>
      <ul class="list-group">
        {% for c in cast %}
        <li class="list-group-item"><a href="/cast/{{ c.talentId }}">{{ c.name }}</a> as {{ c.role }}</li>
        {% endfor %}
      </ul>
    </div>
    <a href="/updateMovie/{{ movie_data.id }}" class="btn btn-primary">Update</a>

    <form action="/deleteMovie" method="POST">
      <div class="form-group" hidden>
        <label for="id">ID</label>
        <input type="text" name="id" class="form-control-plaintext" id="id" aria-describedby="idHelp" value="{{ movie_data.id }}" readonly>
      </div>

      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {% endblock %}
{% endblock %}
