{% extends "base.html" %}
{% block title %} carousel {% endblock %}

{% block body %}
  {% block content %}
  <div class="jumbotron jumbotron-fluid jumbotron-psa">
    <div class="row spacer">
      <p class="lead lead-inline">Discover top community-rated beauty products.</p>
    </div>

    {% if popCategories %}
    <div class="row spacer mini-wrapper">
      <span class="mini">TOP PICKS FOR TRENDING CATEGORIES:</span>
      {% for category in popCategories %}
        <a href="/" class="tag">
          <button type="button" data-toggle="modal" data-target="#exampleModalCenter" data-category="{{category}}" class="recommend btn btn-outline-info btn-sm tag-category">{{ category }}</button>
        </a>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row spacer row-block">
      <!-- Search form -->
      <!-- <form class="form-search form-inline" action="/search" method="POST">
        <div class="input-group input-block">
          <input type="text" class="form-control" name="query" id="query" placeholder="SEARCH PRODUCT / BRAND / CATEGORY">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form> -->
    </div>
    <div class="row new-prod">
      <p class="mini">Can't find a product?</p>
      <a class="btn btn-primary product-button-update" href="/newProduct" role="button">Add a New Product</a>
    </div>
  </div>

  <div class="row">
    <h3>Products</h3>
  </div>

  <ul id="products" class="main product-container card-grid">
    {% for product in products %}
      <li class="product-item">
        <div class="card" style="width: 13rem;">
          <a href="/product/{{ product.id }}"><img class="card-img-top" src="{{ product.imgsrc }}" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">{{ product.brand }}</p>
            <h5 class="card-title"><a href="/product/{{ product.id }}">{{ product.name }}</a></h5>
          </div>
        </div>
      </li>
      {% endfor %}
  </ul>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Oops, no recommendations yet.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Cool!</button> -->
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
