{% extends "base.html" %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}
  {% block content %}

  <div class="container h-100 d-flex justify-content-center">
    <div class="product w-100">
      <div class="product-heading w-100 row">
        {% if inShelf %}
          <div class="product-header spacer w-100">
            You own this product! <a href="/">View Dashboard.</a>
          </div>
        {% endif %}
        <div class="col-md-5 col-sm-5 image">
          <img src="{{ product.imgsrc }}" class="product-img rounded" alt="...">
        </div>
        <div class="col-md-7 col-sm-7 description">
          <div class="category-widget">
            <h6 class="mb-2 text-muted">{{ product.brand }}</h6>
            <a href="/">
              <button type="button" data-toggle="modal" data-target="#exampleModalCenter" data-category="{{product.category}}" class="recommend btn btn-outline-info btn-sm tag-category">{{ product.category }}</button>
            </a>
          </div>

          <h3>{{ product.name }}</h3>
          <div class="row spacer">
          </div>
          {% if product.description %}
            <p>{{ product.description }}</p>
          {% else %}
            <p>Description coming soon.</p>
          {% endif %}
          <div class="row hr-bottom">
          </div>

          {% if current_user.is_authenticated %}
            {% if inShelf %}
            <h6 class="mb-2 text-muted">You own: {{ inShelf.quantity }}</h6>
            {% else %}
            <h6 class="mb-2 text-muted">Oops! You currently don't own any!</h6>
            {% endif %}

            <div class="row spacer"></div>

            {% if inShelf %}
            <div class="product-form">
              <form class="form-inline" action="/shelf/update" method="POST">
                <div class="mx-sm-3 mb-2 form-inline">
                  <div class="form-group col-md-12 qty-group">
                    <label class="col-sm-1 col-form-label" for="quantity">QTY</label>
                    <input type="text" name="quantity" class="form-control form-control-plaintext" id="quantity" aria-describedby="quantityHelp" value="{{inShelf.quantity}}">
                  </div>
                </div>

                <div class="form-group mb-2 row d-none" hidden>
                  <label for="id" class="sr-only">Id</label>
                  <input type="text" name="id" class="form-control-plaintext" id="id" aria-describedby="idHelp" value="{{ product.id }}" readonly>
                </div>

                <button type="submit" class="btn btn-primary mb-2 product-button-update">UPDATE QUANTITY</button>
              </form>

              <form class="form-inline" action="/shelf/remove/{{product.id}}" method="POST">
                <div class="form-group row d-none" hidden>
                  <label for="id">ID</label>
                  <input type="text" name="id" class="form-control-plaintext" id="id" aria-describedby="idHelp" value="{{ product.id }}" readonly>
                </div>

                <button type="submit" class="btn product-button-remove">REMOVE</button>
              </form>
            </div>

            {% else %}
            <div class="product-form">
              <form class="form-inline" action="/shelf/add" method="POST">
                <div class="mx-sm-3 mb-2 form-inline d-none">
                  <div class="form-group col-md-12">
                    <label class="col-sm-1 col-form-label" for="quantity">QTY</label>
                    <input type="text" name="quantity" class="form-control form-control-plaintext" id="quantity" aria-describedby="quantityHelp" value="1">
                  </div>
                </div>

                <div class="form-group mb-2 row d-none" hidden>
                  <label for="id">ID</label>
                  <input type="text" name="id" class="form-control-plaintext" id="id" aria-describedby="idHelp" value="{{ product.id }}" readonly>
                </div>

                <button type="submit" class="btn product-button-update">ADD TO SHELF</button>
              </form>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Cool!</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endblock %}
