{% extends "base.html" %}
{% block title %}My Shelf{% endblock %}
{% block body %}
  {% block content %}

  <div class="row">
    <h3>My Shelf</h3>
  </div>

  <!-- <ul id="products" class="product-container card-grid">
    {% for product in products %}
    <li class="product-item">
      <div class="card" style="width: 10rem;">
        <a href="/product/{{ product.id }}"><img class="card-img-top" src="{{ product.imgsrc }}" alt="Card image cap"></a>
        <div class="card-body">
          <p class="card-text">{{ product.brand }}</p>
          <h5 class="card-title"><a href="/product/{{ product.id }}">{{ product.name }}</a></h5>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul> -->

  <!-- DataTable container -->
  <table id="myShelf" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    <thead>
    <tbody>
      {% for product in products %}
      <tr data-child-value="{{ product[1].id }}">
        <td class="details-control"></td>
        <td>{{product[1].brand}}</td>
        <td><a href="/product/{{ product[1].id }}">{{product[1].name}}</a></td>
        <td>{{product[0].quantity}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
{% endblock %}
