{% extends "base.html" %}
{% block title %}My Shelf{% endblock %}
{% block body %}
  {% block content %}

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>My Products</h3>
    </div>
  </div>

  {% if not products %}
  <div class="row">
    <div class="col-sm-12 col-12">
      <div class="jumbotron jumbotron-fluid jumbotron-psa">
        <div class="row spacer">
          <p class="lead lead-inline">Looks like your shelf is empty -- let's add some products.</p>
        </div>

        <div class="row spacer row-block">
          <!-- Search form -->
          <form class="form-search form-inline" action="/search" method="POST">
            <div class="input-group input-block">
              <input type="text" class="form-control" name="query" id="query" placeholder="Search by product/brand/category">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <p class="lead lead-inline">Can't find a product?</p>
          <a class="btn btn-primary" href="/newProduct" role="button">Add a New Product</a>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <!-- DataTable container -->
  <table id="myShelf" data-user="{{username}}" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Category</th>
        <th>Brand</th>
        <th>Product Name</th>
        <th>Qty</th>
        <th>My Rating</th>
        <th></th>
      </tr>
    <thead>
    <tbody>
      {% for product in products %}
      <tr data-child-value="{{ product[1].id }}">
        <td class="details-control"></td>
        <td>
          <a href="/">
            <button type="button" class="btn btn-outline-info btn-sm tag-category">{{ product[1].category }}</button>
          </a>
        </td>
        <td>{{product[1].brand}}</td>
        <td><a href="/product/{{ product[1].id }}">{{product[1].name}}</a></td>
        <td data-original-value="{{product[0].quantity}}">
          <!-- <a href="#" data-type="text" data-pk="1" class="editable">{{product[0].quantity}}</a> -->
          {{product[0].quantity}}
        </td>
        <td data-original-value="{{product[0].rating}}">
          <!-- <a href="#" data-type="text" data-pk="1" class="editable">{{product[0].rating}}</a> -->
          <fieldset class="rating">
            {% if float(product[0].rating) == 5 %}
            <input type="radio" id="{{product[1].id}}_star5" name="rating_{{product[1].id}}" value="5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star5" name="rating_{{product[1].id}}" value="5" />
            {% endif %}
            <label class = "full" for="{{product[1].id}}_star5" title="Awesome - 5 stars"></label>

            {% if float(product[0].rating) == 4.5 %}
            <input type="radio" id="{{product[1].id}}_star4half" name="rating_{{product[1].id}}" value="4.5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star4half" name="rating_{{product[1].id}}" value="4.5" />
            {% endif %}
            <label class="half" for="{{product[1].id}}_star4half" title="Pretty good - 4.5 stars"></label>

            {% if float(product[0].rating) == 4 %}
            <input type="radio" id="{{product[1].id}}_star4" name="rating_{{product[1].id}}" value="4" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star4" name="rating_{{product[1].id}}" value="4" />
            {% endif %}
            <label class = "full" for="{{product[1].id}}_star4" title="Pretty good - 4 stars"></label>

            {% if float(product[0].rating) == 3.5 %}
            <input type="radio" id="{{product[1].id}}_star3half" name="rating_{{product[1].id}}" value="3.5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star3half" name="rating_{{product[1].id}}" value="3.5" />
            {% endif %}
            <label class="half" for="{{product[1].id}}_star3half" title="Meh - 3.5 stars"></label>

            {% if float(product[0].rating) == 3 %}
            <input type="radio" id="{{product[1].id}}_star3" name="rating_{{product[1].id}}" value="3" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star3" name="rating_{{product[1].id}}" value="3" />
            {% endif %}
            <label class = "full" for="{{product[1].id}}_star3" title="Meh - 3 stars"></label>

            {% if float(product[0].rating) == 2.5 %}
            <input type="radio" id="{{product[1].id}}_star2half" name="rating_{{product[1].id}}" value="2.5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star2half" name="rating_{{product[1].id}}" value="2.5" />
            {% endif %}
            <label class="half" for="{{product[1].id}}_star2half" title="Kinda bad - 2.5 stars"></label>

            {% if float(product[0].rating) == 2 %}
            <input type="radio" id="{{product[1].id}}_star2" name="rating_{{product[1].id}}" value="2" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star2" name="rating_{{product[1].id}}" value="2" />
            {% endif %}
            <label class = "full" for="{{product[1].id}}_star2" title="Kinda bad - 2 stars"></label>

            {% if float(product[0].rating) == 1.5 %}
            <input type="radio" id="{{product[1].id}}_star1half" name="rating_{{product[1].id}}" value="1.5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star1half" name="rating_{{product[1].id}}" value="1.5" />
            {% endif %}
            <label class="half" for="{{product[1].id}}_star1half" title="Meh - 1.5 stars"></label>

            {% if float(product[0].rating) == 1 %}
            <input type="radio" id="{{product[1].id}}_star1" name="rating_{{product[1].id}}" value="1" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_star1" name="rating_{{product[1].id}}" value="1" />
            {% endif %}
            <label class = "full" for="{{product[1].id}}_star1" title="Sucks big time - 1 star"></label>

            {% if float(product[0].rating) == 0.5 %}
            <input type="radio" id="{{product[1].id}}_starhalf" name="rating_{{product[1].id}}" value="0.5" checked />
            {% else %}
            <input type="radio" id="{{product[1].id}}_starhalf" name="rating_{{product[1].id}}" value="0.5" />
            {% endif %}
            <label class="half" for="{{product[1].id}}_starhalf" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        </td>
        <td>
          <a href="/shelf/remove/{{ username }}/{{ product[1].id }}">
            <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  {% endblock %}
{% endblock %}
