{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block body %}
  {% block content %}

  <div class="container-fluid">
    <div class="header row">
      <h2>PROFILE</h2>
    </div>

    <div class="w-100 row">
      <p>{{ user.username }}</p>
    </div>

    <div class="w-100 row">
      <p>{{ user.email }}</p>
    </div>
  </div>

    <!-- <form method=post>
      <div class="form-group row">
        <label for="skintype" class="col-sm-2 col-form-label">Skin Type</label>
        <div class="col-sm-10">
          <select class="custom-select" name="skintype" id="skintype" multiple>
            <option selected></option>
            <option value="dry">Dry</option>
            <option value="dehydrated">Dehydrated</option>
            <option value="normal">Normal</option>
            <option value="combination">Combination</option>
            <option value="oil">Oily</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form> -->
  {% endblock %}
{% endblock %}
