{% extends "base.html" %}
{% block title %} twtr {% endblock %}

{% block body %}
  {% block content %}
    <ul id="messages" class="messages-container">
      {% for msg in messages %}
        <li class="message-item">
          <a href="/messages/{{ msg.sender }}">{{ msg.sender }}</a>
          [{{ msg.timestamp }}]

          {% if msg.replyto != "" %}
          <span class="reply-tag">Replying to {{ msg.replyto }}</span>
          {% endif %}

          {{ msg.message }}

          <p>
            <button data-username="{{ msg.sender }}" data-id="{{ msg.id }}" data-message="{{ msg.message }}" class="btn btn-outline-secondary reply">Reply</button>
            {% if current_user.is_authenticated %}
            <button data-id="{{ msg.id }}" class="btn btn-outline-secondary save">Save</button>
            {% endif %}
          </p>
        </li>
      {% endfor %}
    </ul>
    {% if current_user.is_authenticated %}
    <div class="msgSender">
      <h5>Send to All</h5>
      <input type="text" id="myMessage">
      <input type="text" value="{{current_user.username}}" id="sender" hidden>
      <button type="submit" id="sendbutton">Send</button>
    </div>

    <div class="replySender">
      <h5>Reply</h5>
      <h6 id="to"></h6>
      <input type="text" id="replyto" hidden>
      <input type="text" id="myReply">
      <button type="submit" id="replyButton">Send</button>
    </div>
    {% endif %}
  {% endblock %}
{% endblock %}
