{% extends "base.html" %}
{% block title %} twtr {% endblock %}

{% block body %}
  {% block content %}
    <ul id="messages">
      {% for msg in messages %}
        <li><a href="/messages/{{ msg.sender }}">{{ msg.sender }}</a> [{{ msg.timestamp }}]: {{ msg.message }}</li>
      {% endfor %}
    </ul>
    <input type="text" id="myMessage">
    <input type="text" value="{{current_user.username}}" id="sender" hidden>
    <button type="submit" id="sendbutton">Send</button>
  {% endblock %}
{% endblock %}
