{% extends "base.html" %}
{% block title %}Messages{% endblock %}

{% block body %}
  {% block content %}
  <ul id="messages" class="messages-container">
    {% for msg in messages %}
      <li class="message-item">{{ msg.sender }} [{{ msg.timestamp }}]: {{ msg.message }}</li>
    {% endfor %}
  </ul>
  <!-- <input type="text" id="myMessage">
  <input type="text" value="{{current_user.username}}" id="sender" hidden>
  <button type="submit" id="sendbutton">Send</button> -->
  {% endblock %}
{% endblock %}
