$GRAPHITE: rgb(33, 41, 44);
$LAVENWHITE: #eeedf0;
$GOLD: #deb109;
$MARIGOLD: #fec52e;
$BEIGE: #e9ddce;
$BLUE: #3eaede;

.footer {
  background-color: rgb(33, 41, 44) !important;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  // height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.card-grid {
  display:  flex;
  justify-content: space-between;
  flex-wrap:  wrap;
  padding: 0 2rem 0 2rem;
  background: $GRAPHITE;

  .card {
    border: none;
    border-radius: .125rem;
    background-color: transparent;
    width: 13rem !important ;
    margin-right: 0;
    margin-bottom: 1.5rem;

    .card-header {
      padding: 0;
      padding-top: .5rem;

      .card-subtitle {
      }
    }

    .card-body.watched {
      padding-top: 0;
      padding-bottom: 0;
      padding: 0;
    }

    a {
      color: white;
      box-shadow: 4px 4px 16px 1px;
    }
  }
}

.card-grid.card-grid-series {
  justify-content: space-evenly !important;
  padding: 2rem 2rem 2rem 2rem;

  .card {
    width: 13rem !important;
  }
}

.card-grid.row.series {
  justify-content: flex-start;

  .card {
    margin-right: 2rem;
  }
}

.page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul.list-group, ul.award-group {
  width: 50%;
  li {
    background-color: $GRAPHITE;
  }
}

body {
  background: $GRAPHITE;
  // color: white !important;
}

body > .container-fluid {
  margin-top: 0 !important;
}

body > .container-fluid {
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .row {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header.row {
    padding: .25rem 2rem .25rem 2rem;
    margin-bottom: 1rem;
    background-color: $MARIGOLD;
    color: $GRAPHITE;
  }

  .subheader {
    margin-bottom: .5rem;
    color: $LAVENWHITE;

    a, p {
      color: $LAVENWHITE;
    }
  }

  .inner-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

}

.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav.navbar.navbar-expand-lg {
  background-image: linear-gradient(#101415, #21292c);

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    height: 46px;
    margin-left: 1rem;
    border-bottom: 2px solid white;
    margin-bottom: .5rem;
  }

  .dropdown-menu {
    background: $GRAPHITE;

    .dropdown-divider {
      border-top: 2px solid $MARIGOLD
    }

    .btn {
      width: 100%;
    }
  }

  a, li {
    color: white !important;
  }
}

.movie {
  display: inline-block;
  margin-bottom: 2rem;

  .movie-heading.row {
    padding: 0;
    padding-left: 1rem;
    display: inline-block;
  }
}

.marigold {
  background-color: $MARIGOLD;
}

.movie-poster {
  max-width: 35%;
  padding: 0 2rem 0 1rem;
}

.upper {
  text-transform: uppercase;
}

.btn {
  margin-bottom: 2rem;

  &.btn-search {
    margin-bottom: 0;
  }
}

.modal {
  .modal-content {
    color: $GRAPHITE;
    background-color: $LAVENWHITE;
  }
  .model-header {
    color: white;
  }

  ul.list-group {
    width: 100%;

    .list-group-item {
      color: $GRAPHITE;
      background-color: $LAVENWHITE;
    }
  }
}

.btn-primary {
  background-color: $MARIGOLD;
  border-color: $MARIGOLD;
}

.btn-outline-success {
  border-color: $MARIGOLD;
  color: white;

  &:hover {
    background-color: $MARIGOLD;
    border-color: $MARIGOLD;
    color: $GRAPHITE;
    transition: background-color .15s ease-in-out,
                color .15s ease-in-out;
  }

  &.login {
    margin-bottom: 0;
  }

  &.register {
    margin-bottom: 0;
  }
}

.char-btn {
  color: $GRAPHITE;

  a {
    color: $GRAPHITE;
  }
}

.form-search {
  .input-group {
    margin-bottom: 0 !important;
    min-width: 400px;
  }
}

.card-movie-poster {
  max-height: 308.14px;
  overflow: hidden;
}

.seriesCarousel {
  margin-left: 1rem;
  margin-right: 1rem;

  .carousel.slide.series {
    display: inline-block;

    .carousel-inner {
      max-width: 13rem;
      height: auto;

      .carousel-item {
        .carousel-img-crop {
          height: 327px;
          overflow: hidden;
        }

        .carousel-caption {
          position: static;
          margin-bottom: 1rem;
          padding-top: 0;

          a {
            color: white;
          }
        }
      }
    }
  }
}

.user-icon {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  background-color: $BLUE;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: .5rem;
}

.watched-btn {
  // position: absolute;
  // right: -5%;
  // top: -5%;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  margin-top: .5rem;
  background: transparent;
  // color: #ef2208;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  width: 100%;

  span {
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 1rem;
  }
}
