.footer {
  background-color: #21292c !important;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

.card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem 0 2rem;
  background: #21292c;
}

.card-grid .card {
  border: none;
  border-radius: .125rem;
  background-color: transparent;
  width: 13rem !important;
  margin-right: 0;
  margin-bottom: 1rem;
}

.card-grid .card a {
  color: #101415;
  box-shadow: 4px 4px 16px 1px;
}

.card-grid.card-grid-series {
  justify-content: space-evenly !important;
  padding: 2rem 2rem 2rem 2rem;
}

.card-grid.card-grid-series .card {
  width: 13rem !important;
}

.card-grid.row.series {
  justify-content: flex-start;
}

.card-grid.row.series .card {
  margin-right: 2rem;
}

.page-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul.list-group, ul.award-group {
  width: 50%;
}

ul.list-group li, ul.award-group li {
  background-color: #21292c;
}

body {
  background: #21292c;
}

body > .container-fluid {
  margin-top: 0 !important;
}

body > .container-fluid {
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body > .container-fluid .row {
  padding-left: 2rem;
  padding-right: 2rem;
}

body > .container-fluid .header.row {
  padding: .25rem 2rem .25rem 2rem;
  margin-bottom: 1rem;
  background-color: #fec52e;
  color: #21292c;
}

body > .container-fluid .subheader {
  margin-bottom: .5rem;
  color: #eeedf0;
}

body > .container-fluid .subheader a, body > .container-fluid .subheader p {
  color: #eeedf0;
}

body > .container-fluid .inner-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav.navbar.navbar-expand-lg {
  background-image: linear-gradient(#101415, #21292c);
}

nav.navbar.navbar-expand-lg .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  height: 46px;
  margin-left: 1rem;
  border-bottom: 2px solid white;
  margin-bottom: .5rem;
}

nav.navbar.navbar-expand-lg .dropdown-menu {
  background: #21292c;
}

nav.navbar.navbar-expand-lg .dropdown-menu .dropdown-divider {
  border-top: 2px solid #fec52e;
}

nav.navbar.navbar-expand-lg .dropdown-menu .btn {
  width: 100%;
}

nav.navbar.navbar-expand-lg a, nav.navbar.navbar-expand-lg li {
  color: white !important;
}

.movie {
  display: inline-block;
  margin-bottom: 2rem;
}

.marigold {
  background-color: #fec52e;
}

.movie-poster {
  max-width: 40%;
  padding: 0 1rem 0 1rem;
}

.upper {
  text-transform: uppercase;
}

.btn {
  margin-bottom: 2rem;
}

.btn.btn-search {
  margin-bottom: 0;
}

.modal .modal-content {
  color: #21292c;
  background-color: #eeedf0;
}

.modal .model-header {
  color: white;
}

.modal ul.list-group {
  width: 100%;
}

.modal ul.list-group .list-group-item {
  color: #21292c;
  background-color: #eeedf0;
}

.btn-primary {
  background-color: #fec52e;
  border-color: #fec52e;
}

.btn-outline-success {
  border-color: #fec52e;
  color: white;
}

.btn-outline-success:hover {
  background-color: #fec52e;
  border-color: #fec52e;
  color: #21292c;
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
}

.btn-outline-success.login {
  margin-bottom: 0;
}

.btn-outline-success.register {
  margin-bottom: 0;
}

.char-btn {
  color: #21292c;
}

.char-btn a {
  color: #21292c;
}

.form-search .input-group {
  margin-bottom: 0 !important;
  min-width: 400px;
}

.card-movie-poster {
  max-height: 308.14px;
  overflow: hidden;
}

.seriesCarousel {
  margin-left: 1rem;
  margin-right: 1rem;
}

.seriesCarousel .carousel.slide.series {
  display: inline-block;
}

.seriesCarousel .carousel.slide.series .carousel-inner {
  max-width: 13rem;
  height: auto;
}

.seriesCarousel .carousel.slide.series .carousel-inner .carousel-item .carousel-img-crop {
  height: 327px;
  overflow: hidden;
}

.seriesCarousel .carousel.slide.series .carousel-inner .carousel-item .carousel-caption {
  position: static;
  margin-bottom: 1rem;
  padding-top: 0;
}

.seriesCarousel .carousel.slide.series .carousel-inner .carousel-item .carousel-caption a {
  color: white;
}

.user-icon {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  background-color: #3eaede;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: .5rem;
}
